@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
*, ::before, ::after {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background: #f9f9f9;
}

button {
  outline: none;
}

a {
  color: #1960e6;
  text-decoration: none;
}

.hero_section {
  gap: 15vh;
  height: 70vh;
  display: flex;
  flex-direction: column;
  padding: 0 10vw;
  position: relative;
  background: #485bcf;
}
.hero_section::before {
  left: 0;
  bottom: 0;
  width: 100%;
  content: "";
  height: 160px;
  position: absolute;
  background: #92a1ff;
  clip-path: polygon(0 75%, 100% 0, 100% 100%, 0% 100%);
}
.hero_section::after {
  left: 0;
  bottom: 0;
  width: 100%;
  content: "";
  height: 150px;
  position: absolute;
  background: #f9f9f9;
  clip-path: polygon(0 80%, 100% 0, 100% 100%, 0% 100%);
}
.hero_section__header {
  display: flex;
  padding-top: 1em;
  justify-content: space-between;
}
.hero_section__header__logo {
  color: #f9f9f9;
  font-weight: 800;
  font-size: 2rem;
}
.hero_section__header__links_section {
  gap: 2em;
  display: flex;
  align-items: center;
}
.hero_section__header__links_section__link {
  color: #f9f9f9;
  position: relative;
  font-size: 0.9rem;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
.hero_section__header__links_section__link:not(:last-child)::after {
  left: 0;
  content: "";
  width: 100%;
  bottom: -3px;
  height: 0.1em;
  position: absolute;
  border-radius: 5px;
  transform: scaleX(0);
  background: #f9f9f9;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}
.hero_section__header__links_section__link:not(:last-child):hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.hero_section__header__links_section__link:last-child {
  padding: 10px 30px;
  border-radius: 50px;
  border: 2px solid #f9f9f9;
}
.hero_section__header__links_section__link:last-child:hover {
  color: #1b1b1b;
  background: #f9f9f9;
}
.hero_section__content {
  display: flex;
}
.hero_section__content__container {
  gap: 3em;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.hero_section__content__container__title {
  color: #f9f9f9;
  font-size: 3rem;
}
.hero_section__content__container__description {
  color: #f9f9f9;
}
.hero_section__content__container__link_section {
  gap: 1.5em;
  display: flex;
}
.hero_section__content__container__link_section__link {
  color: #f9f9f9;
  font-weight: 500;
  padding: 10px 30px;
  border-radius: 50px;
  border: 1px solid #f9f9f9;
  transition: all 0.2s ease-in-out;
}
.hero_section__content__container__link_section__link:first-child {
  color: #1b1b1b;
  background: #00d3d4;
  border-color: #00d3d4;
}
.hero_section__content__container__link_section__link:first-child:hover {
  color: #f9f9f9;
  background: transparent;
}
.hero_section__content__container__link_section__link:last-child:hover {
  color: #1b1b1b;
  background: #f9f9f9;
}
.hero_section__content__img_container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features_section {
  gap: 5em;
  display: flex;
  padding: 0 10vw 12vh 10vw;
}
.features_section__feature {
  gap: 0.5em;
  display: flex;
  flex-direction: column;
}
.features_section__feature__icon {
  width: 2em;
}
.features_section__feature__description {
  text-align: justify;
}

.fwidth_feature_section {
  gap: 3em;
  display: flex;
  flex-direction: column;
  padding: 8vh 10vw;
  align-items: center;
  background: #bf1085;
}
.fwidth_feature_section__title {
  font-size: 2rem;
  color: #f9f9f9;
}
.fwidth_feature_section__description {
  color: #f9f9f9;
  text-align: center;
}
.fwidth_feature_section__img {
  width: 250px;
}

/*# sourceMappingURL=index.css.map */
