@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// FONTS
$mont: "Montserrat", sans-serif;

// COLORS
$teal: #00d3d4;
$black: #1b1b1b;
$white: #f9f9f9;
$magenta: #bf1085;
$blueLink: #1960e6;
$primaryblue: #485bcf;
$secondaryblue: #92a1ff;

// SIZES
$basictitle: 2rem;
$bigtitle: 3rem;

$slinks: .9rem;